<!-- individual assessment details -->
<h1 class="text-center">Assessment Status</h1>
<table class="table table-striped">
    <tr>
        <th class="text-center">Assessment name</th>
        <td class="bg-primary">{{assessmentDetail.aname}}</td>
    </tr>
    <tr>
        <th class="text-center">Assessment code</th>
        <td class="bg-primary">{{assessmentDetail.acode}}</td>
    </tr>
    <tr>
        <th class="text-center">Date Of Assessment</th>
        <td class="bg-primary">{{assessmentDetail.adate}}</td>
    </tr>
    <tr>
        <th class="text-center">Status</th>
        <td class="bg-primary">{{assessmentDetail.astatus}}</td>
    </tr>
    <tr>
        <th class="text-center">Message</th>
        <td class="bg-primary">{{assessmentDetail.message}}</td>
    </tr>
</table>
<h4><a href="#/assessment"><span class="glyphicon glyphicon-circle-arrow-left black"></span>&nbsp;Back</a></h4>
